In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
r = requests.get("http://www.eia.gov/totalenergy/data/annual/showtext.cfm?t=ptb0524")
soup = BeautifulSoup(r.text)

/Users/millbr02/.virtualenvs/jupyter/lib/python3.5/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 184 of the file /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [4]:
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [5]:
print(soup.prettify())[0:1000]

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
  <meta content="en-us" http-equiv="Content-Language"/>
  <meta content="all" name="robots"/>
  <meta content="EIA - Energy Information Administration" name="agency"/>
  <meta content="official energy statistics, data, analysis and forecasting" name="subject"/>
  <meta content="Energy Information Administration - EIA - Official Energy Statistics from the U.S. Government" name="Description"/>
  <link href="/global/styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="/global/scripts/jquery/datepicker/jquery-ui-dp.custom.css" rel="stylesheet" type="text/css"/>
  <link href="/global/styles/EIA_global.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]><link rel="stylesheet" href="/global/styles/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/global/styles/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="/global/styles/ie_fixes.css" type="text/css" media="screen, projection"><![endif]-->
  <link href="/global/styles/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!--[if lte IE 8]><link rel="stylesheet" href="/global/styles/ie_print.css" type="text/css" media="print"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/global/styles/ie_print.css" type="text/css" media="print"><![endif]-->
  <script src="/global/scripts/jquery/jquery-1.11.1.min.js">
  </script>
  <script src="/global/scripts/jquery/jquery-migrate-1.2.1.min.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/ui/1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/touch-punch/jquery.ui.touch-punch.min.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/eia_utils.js" type="text/javascript">
  </script>
  <script src="/global/scripts/eia_global.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/highcharts/3.0.10/js/highcharts.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/highcharts/3.0.10/js/highcharts-more.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/highcharts/3.0.10/js/modules/exporting.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/highcharts/3.0.10/js/modules/no-data-to-display.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/highcharts/3.0.10/js/eia-theme-module.min.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/highcharts/3.0.10/js/modules/captions.min.js" type="text/javascript">
  </script>
  <script src="/global/scripts/jquery/ga/ga-file-downloads.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25837230-1']);
  _gaq.push(['_setDomainName', 'eia.gov']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <link href="//www.eia.gov/favicon.ico" rel="shortcut icon"/>
  <link href="//www.eia.gov/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="//www.eia.gov/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <!-- Add fancyBox 2 -->
  <link href="/global/scripts/fancybox2/jquery.fancybox.css?v=2.1.5" media="screen" rel="stylesheet" type="text/css"/>
  <script src="/global/scripts/fancybox2/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript">
  </script>
  <script src="/global/survey/engine/js/survey_engine.js" type="text/javascript">
  </script>
  <link href="/global/survey/engine/css/layout.css" media="screen" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div id="outerX">
   <script>
    $(document).ready(function() {
    function position() {
      $( "#sticker.positionable" ).position({
        of: $( "#outerX" ),
        my: "left top",
        at: "right top"
      });
	  $('#sticker').offset({top:$(window).scrollTop()+10});
    }

    position();

	$('#sticker').hover(function(event){
	   $(this).stop(true,false).animate({right: '-125px', width: '160px'}, 'slow');
	},function(event){
		$(this).stop(true,true).animate({right: '0', width: '35px'}, 'slow');
	});
	$(window).scroll(function () {position();});
	$(window).resize(function () {position();});
});
   </script>
   <div class="social-fixed positionable" id="sticker">
    <div class="addthis_toolbox addthis_default_style ">
     <ul class="social shider">
      <li>
       <a href="http://twitter.com/EIAgov" target="_blank">
        <img class="imgalpha" src="/global/images/icons/social-twitter.jpg"/>
       </a>
       <div class="link twt">
        <div class="tweet">
         <a class="addthis_button_tweet">
         </a>
        </div>
       </div>
      </li>
      <li>
       <a href="http://www.facebook.com/eiagov" target="_blank">
        <img class="imgalpha" src="/global/images/icons/social-facebook.jpg"/>
       </a>
       <div class="link facebook">
        <div id="share-facebook">
         <a class="addthis_button_facebook_like at300b" fb:like:layout="button_count">
         </a>
        </div>
       </div>
      </li>
     </ul>
    </div>
   </div>
   <script async="async" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514b0d4a047a687f" type="text/javascript">
   </script>
   <div id="innerX">
    <div class="content">
     <div id="header">
      <div class="print">
       <img src="/global/images/logos/eia_logo_print.png"/>
      </div>
      <a href="/">
       <h1>
        U.S. Energy Information Administration - EIA - Independent Statistics and Analysis
       </h1>
      </a>
      <ul class="global-width" id="g-margin3">
       <li class="global-es">
        <a>
         Sources &amp; Uses
        </a>
       </li>
       <div class="global_es_menu">
        <span class="global_menu_col1">
         <a href="/petroleum/">
          <h3>
           Petroleum &amp; Other Liquids
          </h3>
          <p>
           Crude oil, gasoline, heating oil, diesel, propane, and other liquids including biofuels and natural gas liquids.
          </p>
         </a>
         <a href="/naturalgas/">
          <h3>
           Natural Gas
          </h3>
          <p>
           Exploration and reserves, storage, imports and exports, production, prices, sales.
          </p>
         </a>
         <a href="/electricity/">
          <h3>
           Electricity
          </h3>
          <p>
           Sales, revenue and prices, power plants, fuel use, stocks, generation, trade, demand &amp; emissions.
          </p>
         </a>
         <a href="/consumption/">
          <h3>
           Consumption &amp; Efficiency
          </h3>
          <p class="no-border no-btm">
           Energy use in homes, commercial buildings, manufacturing, and transportation.
          </p>
         </a>
        </span>
        <span class="global_menu_col2">
         <a href="/coal/">
          <h3>
           Coal
          </h3>
          <p>
           Reserves, production, prices, employ- ment and productivity, distribution, stocks, imports and exports.
          </p>
         </a>
         <a href="/renewable/">
          <h3>
           Renewable &amp;
           <br/>
           Alternative Fuels
          </h3>
          <p class="sp-renewable">
           Includes hydropower, solar, wind, geothermal, biomass and ethanol.
          </p>
         </a>
         <a href="/nuclear/">
          <h3>
           Nuclear &amp; Uranium
          </h3>
          <p>
           Uranium fuel, nuclear reactors, generation, spent fuel.
           <br/>
          </p>
         </a>
         <a href="/totalenergy/">
          <h3>
           Total Energy
          </h3>
          <p class="no-border">
           Comprehensive data summaries, comparisons, analysis, and projections integrated across all energy sources.
          </p>
         </a>
        </span>
        <span class="global_menu_col3">
         <h3>
          Highlights
         </h3>
         <a href="/petroleum/weekly/">
          This Week in Petroleum ›
         </a>
         <a href="/petroleum/supply/weekly/">
          Weekly Petroleum Status Report ›
         </a>
         <a href="http://ir.eia.gov/ngs/ngs.html">
          Weekly Natural Gas Storage Report ›
         </a>
         <a href="/naturalgas/weekly/">
          Natural Gas Weekly Update ›
         </a>
         <a href="/electricity/monthly/">
          Electric Power Monthly ›
         </a>
         <a href="/coal/production/quarterly/">
          Quarterly Coal Report ›
         </a>
         <a href="/totalenergy/data/monthly/">
          Monthly Energy Review ›
         </a>
         <a href="/consumption/residential/">
          Residential Energy Consumption Survey 2009 ›
         </a>
         <a href="/electricity/data/browser/">
          Electricity Data Browser ›
         </a>
        </span>
       </div>
       <li class="global-topics" id="g-margin1">
        <a>
         Topics
        </a>
       </li>
       <div class="global_topics_menu">
        <span class="global_menu_col1">
         <a href="/analysis/">
          <h3>
           Analysis &amp; Projections
          </h3>
          <p>
           Monthly and yearly energy forecasts, analysis of energy topics, financial analysis, Congressional reports.
          </p>
         </a>
         <a href="/finance/">
          <h3>
           Markets &amp; Finance
          </h3>
          <p class="no-border no-btm">
           Financial market analysis and financial data for major energy companies.
          </p>
         </a>
        </span>
        <span class="global_menu_col2">
         <a href="/environment/">
          <h3>
           Environment
          </h3>
          <p class="sp-environment">
           Greenhouse gas data, voluntary report- ing, electric power plant emissions.
          </p>
         </a>
        </span>
        <span class="global_menu_col3">
         <h3>
          Highlights
         </h3>
         <a href="/forecasts/steo/">
          Short-Term Energy Outlook ›
         </a>
         <a href="/forecasts/aeo/">
          Annual Energy Outlook ›
         </a>
         <a href="/special/disruptions/">
          Energy Disruptions ›
         </a>
         <a href="/forecasts/ieo/">
          International Energy Outlook ›
         </a>
         <a href="/beta/api/excel/">
          Excel Data Add-In ›
         </a>
        </span>
       </div>
       <li class="global-geo">
        <a>
         Geography
        </a>
       </li>
       <div class="global_geo_menu">
        <span class="global_menu_col1">
         <a href="/state/">
          <h3>
           U.S. States
          </h3>
          <p>
           State energy information, including overviews, rankings, data, and analyses.
          </p>
         </a>
         <a href="/maps/">
          <h3>
           Maps
          </h3>
          <p class="no-border no-btm">
           Maps by energy source and topic, includes forecast maps.
          </p>
         </a>
        </span>
        <span class="global_menu_col2">
         <a href="/beta/international/">
          <h3>
           International
          </h3>
          <p>
           International energy information, including overviews, rankings, data, and analyses.
          </p>
         </a>
        </span>
        <span class="global_menu_col3">
         <h3>
          Highlights
         </h3>
         <a href="/state/seds/">
          State Energy Data System (SEDS) ›
         </a>
         <a href="/cfapps/ipdbproject/IEDIndex3.cfm">
          International Energy Statistics ›
         </a>
         <a href="/special/gulf_of_mexico/">
          Gulf of Mexico ›
         </a>
         <a href="/state/maps.cfm">
          U.S. Energy
          <br/>
          Mapping System ›
         </a>
        </span>
       </div>
      </ul>
      <ul class="utils">
       <li class="global-tools" id="g-margin2">
        <a>
         Tools
        </a>
       </li>
       <div class="global_tools_menu">
        <span class="global_menu_col5">
         <p class="no-border">
          <a class="ico_glossary_dblue header_icon_pad" href="/tools/glossary/">
           Glossary ›
          </a>
          <br/>
          <a class="ico_reports header_icon_pad" href="/reports/">
           All Reports &amp; Publications ›
          </a>
          <br/>
          <a class="ico_mining header_icon_pad" href="/tools/">
           Data Tools, Apps, and Maps ›
          </a>
          <br/>
          <a class="ico_survey header_icon_pad" href="/survey/">
           EIA Survey Forms ›
          </a>
          <a class="ico_api header_icon_pad" href="/beta/api/">
           Open Data ›
          </a>
         </p>
        </span>
        <span class="global_menu_col6">
         <p class="no-border">
          <a class="ico_facebook header_icon_pad" href="http://facebook.com/eiagov/" target="_blank">
           Facebook
          </a>
          <br/>
          <a class="ico_twitter header_icon_pad" href="http://twitter.com/eiagov/" target="_blank">
           Twitter
          </a>
          <br/>
          <a class="ico_youtube header_icon_pad" href="http://youtube.com/eiagov/" target="_blank">
           YouTube
          </a>
          <br/>
          <a class="ico_email header_icon_pad" href="/tools/emailupdates/">
           Email Updates
          </a>
          <br/>
          <a class="ico_rss header_icon_pad" href="/tools/rssfeeds/">
           RSS Feeds
          </a>
         </p>
        </span>
       </div>
       <li class="global-learn" id="g-margin2">
        <a>
         Learn About Energy
        </a>
       </li>
       <div class="global_learn_menu">
        <span class="global_menu_col8a">
         <h3>
          <a href="/todayinenergy/">
           Today in Energy
          </a>
         </h3>
         <p>
          Short, timely articles with graphics on energy, facts, issues, and trends.
         </p>
        </span>
        <span class="global_menu_col6">
         <p class="no-border">
          <a class="ico_faqs header_icon_pad" href="/tools/faqs/">
           FAQs
          </a>
          <br/>
          <a class="ico_glossary header_icon_pad" href="/tools/glossary/">
           Glossary
          </a>
          <br/>
          <a class="ico_teachers header_icon_pad border_learn" href="/kids/energy.cfm?page=6">
           For Teachers
          </a>
         </p>
        </span>
        <span class="global_menu_col8">
         <h3>
          <a href="/energyexplained/">
           Energy Explained
          </a>
         </h3>
         <p class="width152">
          <a href="/energyexplained/index.cfm?page=about_home">
           What is Energy? ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=about_energy_units">
           Units &amp; Calculators ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=us_energy_use">
           Use of Energy ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=environment_home">
           Energy &amp; Environment ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=electricity_home">
           Electricity ›
          </a>
         </p>
         <p class="width110">
          <a href="/energyexplained/index.cfm?page=oil_home">
           Petroleum ›
          </a>
          <a href="/energyexplained/index.cfm?page=hgls_home">
           Hydrocarbon Gas Liquids ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=natural_gas_home">
           Natural Gas ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=coal_home">
           Coal ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=nuclear_home">
           Nuclear ›
          </a>
         </p>
         <p class="width181">
          <a href="/energyexplained/index.cfm?page=electricity_home">
           Electricity ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=hydropower_home">
           Hydropower ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=biofuel_home">
           Biofuels: Ethanol &amp; Biodiesel ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=wind_home">
           Wind ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=geothermal_home">
           Geothermal ›
          </a>
          <br/>
          <a href="/energyexplained/index.cfm?page=solar_home">
           Solar ›
          </a>
         </p>
        </span>
        <span class="global_menu_col9">
         <h3>
          <a href="/energy_in_brief/">
           Energy in Brief
          </a>
         </h3>
         <p class="no-border global_menu_col10">
          <a href="/energy_in_brief/article/renewable_electricity.cfm">
           How much U.S. electricity is generated from renewable energy? ›
          </a>
          <br/>
          <a href="/energy_in_brief/article/shale_in_the_united_states.cfm">
           Shale in the United States ›
          </a>
         </p>
         <p class="no-border global_menu_col10">
          <a href="/energy_in_brief/article/foreign_oil_dependence.cfm">
           How dependent are we on foreign oil? ›
          </a>
          <br/>
          <a href="/energy_in_brief/article/role_coal_us.cfm">
           What is the role of coal in the United States? ›
          </a>
         </p>
        </span>
        <span class="global_menu_col6 mt_40">
         <p class="no-border">
          <a class="ant_banner" href="/kids/">
           Energy Kids
          </a>
         </p>
        </span>
       </div>
       <li class="global-news">
        <a>
         News
        </a>
       </li>
       <div class="global_news_menu">
        <span class="global_menu_col7">
         <h3>
          <a href="/about/new/">
           What's New?
          </a>
         </h3>
         <div id="whatsnew3">
         </div>
        </span>
        <span class="global_menu_col3">
         <h3>
          <a href="/pressroom/" style="color:#fff !important;">
           Press Room
          </a>
         </h3>
         <a href="/pressroom/releases.cfm">
          Press Releases ›
         </a>
         <a href="/pressroom/presentations.cfm">
          Presentations ›
         </a>
         <a href="/pressroom/testimony.cfm">
          Congressional Testimony ›
         </a>
         <a href="/radio/">
          Radio Spots ›
         </a>
        </span>
       </div>
      </ul>
      <ul class="utils2">
       <div class="global-search">
        <form accept-charset="UTF-8" action="//search.usa.gov/search" id="search_form" method="get">
         <input name="utf8" type="hidden" value="✓"/>
         <input id="affiliate" name="affiliate" type="hidden" value="eia.doe.gov"/>
         <label class="accessibility" for="query">
          Enter Search Term(s):
         </label>
         <input autocomplete="off" class="usagov-search-autocomplete" id="search-input" maxlength="256" name="query" style="width:150px" type="text" value="Search eia.gov"/>

TypeError: 'NoneType' object is not subscriptable

In [7]:
allrows = soup.find_all("tr")

In [11]:
allrows[4]

<tr>
<td colspan="1">1949</td>
<td colspan="1">
0.268</td>
<td colspan="1">
<sup>R </sup>1.848</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
<td colspan="1">
  NA</td>
</tr>

In [21]:
onerow = allrows[4].find_all('td')

In [25]:
for el in onerow:
    print(el.contents)

['1949']
['\r\n0.268']
['\n', <sup>R </sup>, '1.848']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']
['\r\n  NA']